
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    .ContainerRegForm {
    position: center;
    /* width: 75%;
    height:75%;*/
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
}
  h1 {display:inline;}
</style>

<h1 class="display-1 text-dark">Error </h1><h1 class="text-danger display-1">403</h1>
<h5 >Forbidden, you are not Authorized to access this page. </h5>
   
                     


    <img src="~/Desighn/Access_denied.gif"  class="float-right" width="50%"/>
  
    <br><br>