
<style>
   
  h1 {display:inline;}
</style>

<h1 class="display-1 text-dark">Error </h1><h1 class="text-danger display-1">403</h1>
<h5 >Forbidden, you are not Authorized to access this page. </h5>
   
                     


    <img src="~/Desighn/Access_denied.gif"  class="float-right" width="50%"/>
  
    <br><br>