@model AdmissionSystem.Model.Identity_classes.Change_passowrd_Mode

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";
}
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<h1 class="text-center">ChangePassword</h1>

@*<h4>Change_passowrd_Mode</h4>*@
<hr />
<div class="row">
    <div class="col-md-4 content">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassowrd" class="control-label"></label>
                <input asp-for="NewPassowrd" class="form-control" />
                <span asp-validation-for="NewPassowrd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNerPassword" class="control-label"></label>
                <input asp-for="ConfirmNerPassword" class="form-control" />
                <span asp-validation-for="ConfirmNerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

