@model AdmissionSystem.View_Model.Identity_view_model.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "";
}

<!--<h1>ResetPassword</h1>

<h4>ResetPasswordViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
            @*<div class="form-group">
                <label asp-for="Email" class="control-label"></label>*@
            <!--<input asp-for="Email" type="hidden" />-->
            @*<span asp-validation-for="Email" class="text-danger"></span>
                </div>*@
            <!--<div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>-->
            @*<div class="form-group">
                <label asp-for="token" class="control-label"></label>*@
            <!--<input asp-for="token" type="hidden" />-->
            @*<span asp-validation-for="token" class="text-danger"></span>
                </div>*@
            <!--<div class="form-group">
                <input type="submit" value="Reset" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>-->

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Tangerine">
<style>

@*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");*@






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to bottom, #f4f4f4, #f1f1f1);
  height: 100vh;
  display: grid;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  place-items: center;
}

a {
  text-decoration: none;
  color: #000;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4;
  width: 100%;
  max-width: 400px;
  padding: 2em;
  border-radius: 20px;
  box-shadow: -40px -40px 80px rgb(255, 255, 255),
    40px 40px 80px rgba(0, 0, 0, 0.25);
}

.card-title {
  font-size: 40px;
  color: #565656;
  align-items: center;
}

.card-subtitle {
  color: #565656;
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 1.5rem 0 1rem 0;
}

.card-input-container {
  position: relative;
  margin: 0.5rem 0 2rem;
  width: 100%;
}

.card-form label {
  color: #b6b6b6;
}

.card-input-container input::placeholder {
  color: #b6b6b6;
}

.card-input-container input,
.card-button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.card-input-container input {
  padding: 1em 2em 1em 4em;
  font-size: 14px;
  color: #b6b6b6;
  background: #f4f4f4;
  box-shadow: -10px -10px 20px rgb(255, 255, 255),
    10px 10px 20px rgba(0, 0, 0, 0.1);
}

.card-input-container input:focus {
  box-shadow: inset -5px -5px 10px rgb(255, 255, 255),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.card-button {
  background: #565656;
  padding: 1em;
  color: #f4f4f4;
  cursor: pointer;
  box-shadow: -10px -10px 20px rgb(255, 255, 255),
    10px 10px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5rem;
}

.card-button:focus,
.card-button:hover {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.4),
    inset 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.card-forgot-password {
  text-align: center;
  font-size: 12px;
  color: #b6b6b6;
}

.card-forgot-password a {
  color: #565656;
}
.card-forgot-password a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card-input-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 1.3rem;
  top: 0.8rem;
  font-size: 20px;
  color: #b6b6b6;
}

.card-input-container.username::after {
  content: "\f007";
}

.card-input-container.password::after {
  content: "\f023"
}

</style>






<div class="container">
    <div class="card">
        <h1 class="card-title">Hello Again!</h1>
        <small class="card-subtitle">Enter your credentials and get access</small>
        <form class="card-form" asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Email" type="hidden" />
            <label for="username">Password</label>
            <div class="card-input-container username">

                @* <input asp-for="Password" class="form-control" />*@


                <input type="password" placeholder="Enter your password" id="password" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <label for="password">Confirm Password</label>
            <div class="card-input-container password">


                @*   <input asp-for="ConfirmPassword" class="form-control" />*@

                <input type="password" placeholder="Enter your confirm password" id="password" asp-for="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input asp-for="token" type="hidden" />
            <button type="submit" class="card-button" value="Reset">Reset</button>
            <small class="card-forgot-password">GO to log in <a href="/Account/Index">Click here</a></small>
        </form>
    </div>
</div>