
@{
    ViewData["Title"] = "Success_Register_Employee";
    Layout = "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";
}
<p class="text-center">

Success register Employee 
    <br />
    know he should go to his email and confirm the account
</p>

<!--<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
<style>


html, body {
   background: #76D181;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   color: #fff;
}

.container {
   display: block;
   color: #fff;
   font-family: 'Fredoka One', cursive;
   text-align: center;
   margin-top: 150px;
}

button {
   background: white;
   border: none;
   outline none;
   padding: 10px;
   width: 150px;
   border-radius: 4px;
   color: #76D181;
   font-family: 'Fredoka One', cursive;
   font-size: 1rem;
}



</style>




<div class="container">
    <h1>Success!</h1>
    <p>Hi, thank you for taking the time to go through our onboarding process, you're all set now! Feel free to close this page by click on the X at the top left.</p>-->
    <!--    <button>Close</button> -->
<!--</div>-->