
@{
    //ViewData["Title"] = "Success_change_password";
    Layout = "";
}

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
<style>


html, body {
   background: #76D181;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   color: #fff;
}

.container {
   display: block;
   color: #fff;
   font-family: 'Fredoka One', cursive;
   text-align: center;
   margin-top: 150px;
}

button {
   background: white;
   border: none;
   outline none;
   padding: 10px;
   width: 150px;
   border-radius: 4px;
   color: #76D181;
   font-family: 'Fredoka One', cursive;
   font-size: 1rem;
}



</style>




<div class="container">
    <h1>Success!</h1>
    <p>change password is done   go to login <a href="/Account/Index">Here</a></p>
    @*<button>Close</button>*@ 
</div>