
@{
    //ViewData["Title"] = "Success_Change_Info";
    Layout= "~/Pages/Shared/_Layout_For_Admin_Dashboard.cshtml";

}
<p class="text-center">

    Success change info
    <br />
    If your account is not real you will not be apple to reset your password when you forgot it
</p>